<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" (click)="ShowCustomerDetails()"
      ><mat-icon>info</mat-icon></a
    >
  </div>
  <mat-card class="example-card">
    <form
      [formGroup]="customerForm"
      (ngSubmit)="onFormSubmit(customerForm.value)"
    >
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Customer Name"
          formControlName="name"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !customerForm.get('name').valid &&
              customerForm.get('name').touched
            "
            >Please enter Customer Name</span
          >
        </mat-error>
      </mat-form-field>
      <!-- pole miasto -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="City"
          formControlName="city"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !customerForm.get('city').valid &&
              customerForm.get('city').touched
            "
            >Please enter Customer City</span
          >
        </mat-error>
      </mat-form-field>
      <!-- pole państwo -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Country"
          formControlName="country"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !customerForm.get('country').valid &&
              customerForm.get('country').touched
            "
            >Please enter Customer City</span
          >
        </mat-error>
      </mat-form-field>
      <!-- pole email -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="e-mail"
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !customerForm.get('email').valid &&
              customerForm.get('email').touched
            "
            >Please enter Customer email</span
          >
        </mat-error>
      </mat-form-field>
      <!-- pole telefon -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Phone number"
          formControlName="phoneNumber"
          [errorStateMatcher]="matcher"
        />
      </mat-form-field>
      <!-- pole liczbowe
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Customer Price" formControlName="prod_price"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!customerForm.get('prod_price').valid && customerForm.get('prod_price').touched">Please enter Customer Price</span>
        </mat-error>
      </mat-form-field>
      -->
      <div class="button-row">
        <button
          type="submit"
          [disabled]="!customerForm.valid"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
