<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/customers']"
      ><mat-icon>list</mat-icon></a
    >
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title
        ><h2>{{ customer.name }}</h2></mat-card-title
      >
      <mat-card-subtitle>{{
        customer.city | emptyTextCover
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <dl>
        <dt>Customer Date of birth:</dt>
        <dd>{{ customer.dateOfBirth | date }}</dd>
        <dt>Location country:</dt>
        <dd>{{ customer.country | emptyTextCover }}</dd>
        <dt>Customer e-mail address:</dt>
        <dd>{{ customer.email | emptyTextCover }}</dd>
        <dt>Location phone number:</dt>
        <dd>{{ customer.phonenumber | emptyTextCover }}</dd>
      </dl>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-flat-button
        color="primary"
        [routerLink]="['/customer-edit/', customer.customerId]"
        ><mat-icon>edit</mat-icon></a
      >
      <a
        mat-flat-button
        color="warn"
        (click)="deleteCustomer(customer.customerId)"
        ><mat-icon>delete</mat-icon></a
      >
    </mat-card-actions>
  </mat-card>
</div>
