<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/customer-add']"
      ><mat-icon>add</mat-icon></a
    >
  </div>
  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="data"
      class="example-table"
      matSort
      matSortActive="name"
      matSortDisableClear
      matSortDirection="asc"
    >
      <!-- Customer Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <!-- Customer Name Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>City</th>
        <td mat-cell *matCellDef="let row">{{ row.city }}</td>
      </ng-container>

      <!-- Customer email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Customer Email</th>
        <td mat-cell *matCellDef="let row">$ {{ row.email }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [routerLink]="['/customer/', row.customerId]"
      ></tr>
    </table>
  </div>
</div>
